<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cxx.higoer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressChoose"
            android:label="@string/title_activity_address_choose" >
        </activity>
        <activity
            android:name=".ListItem"
            android:label="@string/title_activity_list_item" >
        </activity>
        <activity
            android:name=".SellerInfo"
            android:label="@string/title_activity_buyer_info" >
        </activity>
        <activity
            android:name=".order_place.PlaceOrder"
            android:label="" >
        </activity>
    </application>

</manifest>
